
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-6 xs-mt-3 d-flex justify-content-center">
      <img
        class="logo"
        src="../../assets/img/logo-cortado-roxo.jpg"
        alt="Logo ADA"
      />
    </div>
    <div class="col-md-6 mt-3 d-flex justify-content-center">
      <a routerLink="/entrar" class="mr-5" style="font-size: 25px;">Entrar</a>
      <a routerLink="/cadastrar" style="font-size: 25px;">Cadastrar</a>
    </div>
  </div>
  <div class="row pb-4">
    <div class="col-md-6 d-flex justify-content-center">
      <img
        src="../../assets/img/gif-Ada.gif"
        alt="Gif Ada Lovelace"
        width="70%"
      />
    </div>
    <div
      class="col-md-6 d-flex justify-content-center align-items-center flex-column"
    >
      <h1 class="text-center">
        Seja bem-vinda!<span> Faça parte dessa</span
        ><span> comunidade que não para</span> de crescer.
      </h1>
      <button class="mt-5 btn btn-lg" routerLink="/entrar">ENTRE AGORA</button>
    </div>
  </div>
  <div class="row mt-5 pt-5 pb-5">
    <div class="col-md-6 d-flex justify-content-center flex-column text-center">
      <h2 class="mb-5 titulo-roxo">Quem somos?</h2>
      <p class="quemSomos-font">
        Somos uma rede para comunidade de mulheres cis e trans no mercado da
        tecnologia.
      </p>
      <p class="quemSomos-font">
        A representividade e união de forças cria uma rede para inspirar e
        transmitir informações.
      </p>
    </div>
    <div class="col-md-6 d-flex justify-content-right">
      <img
        src="../../assets/img/img-mulherComputador.png"
        alt="Ilustração mulher programando"
        width="100%"
      />
    </div>
  </div>
  <div id="importancia-da-rede" class="row mt-5">
    <div class="col-md-6 mt-5 mb-3">
      <h2 class="text-center titulo-roxo">
        Por que formar esta rede
        <span class="mt-3 titulo-cinza">É importante?</span>
      </h2>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <img
        src="../../assets/img/img-porqueImportante45.png"
        alt="Descr"
        width="70%"
      />
    </div>
  </div>
  <div id="parceiros" class="row d-flex justify-content-center mt-5">
    <div class="col-md-12 text-center mt-5 mb-4">
      <h2 class="titulo-roxo">Parceiros e apoiadores</h2>
    </div>
    <div class="col-md-4 d-flex align-items-center flex-column">
      <div class="card mb-5" style="width: 18rem">
        <img
          class="card-img-top mb-2 teste"
          src="../../assets/img/img-programaria.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <p class="card-text">
            PrograMaria contribui para que mais mulheres sintam-se motivadas e confiantes a explorar os campos da tecnologia, da programação e do empreendedorismo.
            <a class="conhecaMais" href="https://www.programaria.org/" target="_blank">Conheça mais...</a>
          </p>
        </div>
      </div>
      <div class="card mb-5" style="width: 18rem">
        <img
          class="card-img-top mb-2 teste"
          src="../../assets/img/img-womakerscode.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <p class="card-text">
            Womakers Code foi fundada em 2015 e é a maior comunidade de tecnologia, formada por mulheres da América Latina.
            <span> 
             <a class="conhecaMais " href="https://womakerscode.org/" target="_blank">Conheça mais...</a>
            </span>
          </p>
        </div>
      </div>
      <div class="card mb-5" style="width: 18rem">
        <img
          class="card-img-top mb-2 teste"
          src="../../assets/img/img-pyladies.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <p class="card-text">
            Pyladies é uma comunidade mundial que foi trazida ao Brasil com o propósito de instigar mais mulheres a entrarem na área tecnológica.
            <a class="conhecaMais" href="https://brasil.pyladies.com/" target="_blank">Conheça mais...</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-center flex-column">
      <div class="card mb-5" style="width: 18rem">
        <img
          class="card-img-top teste mb-1"
          src="../../assets/img/img-reprograma.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <p class="card-text">
            Reprograma foca na inspiração, empoderamento e ensinar mulheres, por meio de conhecimentos de computação e ferramentas de capacitação profissional. 
            <a class="conhecaMais" href="https://reprograma.com.br/" target="_blank">Conheça mais...</a>
          </p>
        </div>
      </div>
      <div class="card mb-5" style="width: 18rem">
        <img
          class="card-img-top mb-3 teste"
          src="../../assets/img/img-php.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <p class="card-text">
            PHPWomen busca a disseminação de conhecimento PHP com a criação de um ambiente acolhedor para mulheres.
            <a class="conhecaMais" href="https://phpwomen.org.br/" target="_blank">Conheça mais...</a>
          </p>
        </div>
      </div>
      <div class="card mb-5" style="width: 18rem">
        <img
          class="card-img-top mb-2 teste"
          src="../../assets/img/img-elas_programam.png"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <p class="card-text">
            Elas Programam incentiva e ajuda mulheres a ingressarem no mercado de tecnologia, por meio das redes sociais já conectaram mais de 19 mil mulheres.
            <span>
              <a class="conhecaMais" href="https://dev.to/elasprogramam" target="_blank">Conheça mais...</a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="desenvolvedores" class="row mt-5">
    <div class="col-md-12 mb-4">
      <h2 class="titulo-roxo text-center">Desenvolvedores</h2>
    </div>
    <div class="col-md-12 coluna d-flex justify-content-center mb-5">
      <div class="card mr-5">
        <img
          class="card-img-top"
          src="../../assets/img/img-Rafaela.PNG"
          alt="Imagem de capa do card"
        />
        <div class="card-img-overlay texto">
          <h5 class="card-title">Rafaela Oliveira</h5>
          <p class="card-text">
           Paulistana, curiosa, entusiasta sobre mistérios do universo, se redescobriu na área da tecnologia e é uma desenvolvedora Full Stack Sempre entendeu que gostaria compartilhar experiências  e facilitar  a vida das pessoas. 
           <a class="acessoLinkedin" href="https://www.linkedin.com/in/rafaelaa-oliveira/" target="_blank">
            Acesse meu LinkedIn
          </a>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/img/img-Jackeline.jpeg"
          alt="Imagem de capa do card"
        />
        <div class="card-img-overlay texto">
          <h5 class="card-title">Jackeline Akemi</h5>
          <p class="card-text">
            Turismóloga em transição de carreira, encontrou por meio da programação uma oportunidade de se redescobrir através dos códigos e está determinada a contribuir com a inclusão de mais mulheres na tecnologia.
            <span>
              <a class="acessoLinkedin" href="https://www.linkedin.com/in/jackeline-akemi/" target="_blank">
                Acesse meu LinkedIn
              </a>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12 coluna d-flex justify-content-center">
      <div class="card mr-5">
        <img
          class="card-img-top"
          src="../../assets/img/img-Danilo.jfif"
          alt="Imagem de capa do card"
        />
        <div class="card-img-overlay texto">
          <h5 class="card-title">Danilo Mendes</h5>
          <p class="card-text">
            Pernambucano morando em São Paulo, está finalizando o curso de Engenharia Mecatrônica. Descobriu na tecnologia uma paixão e decidiu seguir na área da programação como desenvolvedor Full Stack.
            <a class="acessoLinkedin" href="https://www.linkedin.com/in/danilomf/" target="_blank">
              Acesse meu LinkedIn
            </a>
          </p>
        </div>
      </div>
      <div class="card mr-5">
        <img
          class="card-img-top"
          src="../../assets/img/img-Vinicius.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-img-overlay texto">
          <h5 class="card-title">Vinicius Miranda</h5>
          <p class="card-text">
             Apaixonado por tecnologia e música, é formado em Design de Interiores pela ETEC e se tornou um desenvolvedor Full Stack. Nos tempos livres pratica produção musical voltado a BeatMaking. 
             <span>
              <a class="acessoLinkedin" href="https://www.linkedin.com/in/vini-miranda/" target="_blank">
                Acesse meu LinkedIn
              </a>
             </span>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/img/img-Beymar.jpg"
          alt="Imagem de capa do card"
        />
        <div class="card-img-overlay texto">
          <h5 class="card-title">Beymar Lima</h5>
          <p class="card-text">
            Boliviano com um coração brasileiro, estuda para se tornar um desenvolvedor de sistemas e criar soluções que melhorem a qualidade de vida das pessoas. 
           <a class="acessoLinkedin" href="https://www.linkedin.com/in/beymarjhoel" target="_blank">
            Acesse meu LinkedIn
          </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 d-flex align-items-center flex-column">
      <img
        class="logo"
        src="../../assets/img/logo-cortado-roxo.jpg"
        alt="Logo ADA"
      />
      <p class="font-roboto mt-3">
        Email:
        <a href="mailto:ada2021@generationbrasil.com"
          >ada2021@generationbrasil.com</a
        >
      </p>
      <p class="font-roboto">Telefone: 4002-8922</p>
      <p class="font-roboto">Celular: 11 99002-8922</p>
      <div>
        <a href="#" class="mr-3"
          ><img
            class="logo-facebook"
            src="../../assets/img/logo-facebook2.svg"
            alt="Logo do facebook"
        /></a>
        <a href="#" class="mr-3"
          ><img
            class="logo-instagram"
            src="../../assets/img/logo-instagram.svg"
            alt="Logo do instagram"
        /></a>
        <a href="#"
          ><img
            class="logo-linkedin"
            src="../../assets/img/logo-linkedin.svg"
            alt="Logo do linkedin"
        /></a>
      </div>
    </div>
    <div class="col-md-4 fale-conosco">
      <h3 class="text-center">Fale conosco</h3>
      <div class="form-group font-roboto">
        <label for="email">E-mail</label>
        <input
          class="form-control"
          type="email"
          id="email"
          name="email"
          placeholder="exemplo@exemplo.com"
        />
      </div>
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea
          class="form-control font-roboto"
          name="descricao"
          id="descricao"
          placeholder="Digite aqui o seu comentário..."
          rows="4"
        ></textarea>
      </div>
      <button type="submit" class="mt-2 btn btn-enviar">Enviar</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center mt-5 ">
    <div class="col-md-12">
      <a href="#" class="mr-5 font-foot">Política de privacidade da rede social ADA</a>
      <a href="#" class="mr-5 font-foot">Sobre</a>
      <a href="#" class="mr-5 font-foot">Política de direitos autorais</a>
      <a href="#" class="font-foot">Direitos de marca</a>
    </div>
  </div>
  <div class="row p-0 bg-roxo" style="height: 50pt;">
    <div class="col-md-12 p-0">
      <p class=" text-white text-center" style="padding-top: 25px;">ADA 2021 &copy;</p>
    </div>
  </div>
</div>

