<nav
  class="navbar navbar-expand-lg navbar-light back d-flex justify-content-between"
>
  <a class="navbar-brand" routerLink='/principal'>
    <img
      src="../../assets/img/logo-cortado-roxo.jpg"
      style="height: 35pt"
      alt="logo-ada-roxo"
    />
  </a>
  <li class="nav-item dropdown mr-1">
    <a
      class="nav-link"
      href="#"
      id="navbarDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <img
        src="../../assets/img/img-dropdown.png"
        style="height: 20px"
        alt="dropdown-opções"
      />
    </a>
    <div
      class="dropdown-menu dropdown-menu-right"
      aria-labelledby="navbarDropdown"
    >
    <a class="dropdown-item" routerLink='/principal'><img src="../../assets/img/logo-home.svg" class="mr-2 pl-2" alt="Logo sair do site" width="30rem">Página inicial</a>
    <a class="dropdown-item" href="#"><img src="../../assets/img/logo-sair.svg" class="mr-2 pl-1" alt="Logo sair do site" width="30rem">Sair</a>
    </div>
  </li>
</nav>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card perfil-fundo sh">
        <!-- Parque que centraliza a foto -->
        <div class="card-body text-center">
          <h1 class="text-white mont">Editar postagem</h1>
        </div>
      </div>
      <!-- Parte de baixo do card com tamanho para caber com a parte de cima-->
      <div class="card perfil-texto sh">
        <!-- Parter que centraliza os textos do card -->
        <div class="card-body text-center">
          <div class="card-back card mt-5">
            <div class="row d-flex">
              <img
                src="{{ foto }}"
                alt=""
                class="rounded-circle bs ml-4 mt-3 foto-perfil"
              />

              <div class="d-flex flex-column ml-3 my-auto align-items-start">
                <h5 class="mb-0 roboto font-weight-bold">{{ nomeCompleto }}</h5>
                <p class="mt-0 roboto">{{ cargo }}</p>
              </div>

              <div class="ml-auto mt-3 mr-5 d-flex flex-column">
                <!--  
                <button
                  class="btn"
                  id="botaoCancelar"
                  data-toggle="modal"
                  data-target="#editTemas"
                >
                  Editar Tema
                </button>
                -->
                <button
                  class="btn mt-3"
                  id="excluirPostagem"
                  data-toggle="modal"
                  data-target="#deletarPostagem"
                >
                  Deletar postagem
                </button>
              </div>
            </div>

            <hr class="d-flex justify-content-center mt-3" />

            <div class="card-body mt-0 pt-0">
              <h5 class="text-left ml-3 roboto font-weight-bold">
                Tema: {{ postagem.tema.descricaoTema }}
              </h5>

              <textarea
                [(ngModel)]="postagem.descricaoPostagem"
                class="pt-2 pl-2"
                name="postagem"
                id="postagem"
                rows="10"
                >{{ postagem.descricaoPostagem }}
                            </textarea
              >
            </div>

            <div class="d-flex justify-content-end mb-2 mr-5">
              <button
                id="botaoCancelar"
                type="submit"
                class="btn"
                routerLink="/perfil"
              >
                Cancelar
              </button>
              <button
                type="submit"
                class="btn ml-3 botaoPostar"
                (click)="atualizar()"
              >
                Atualizar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer" class="row text-center mt-5">
  <div class="col-md-12">
    <a href="#" class="mr-5 font-foot">Política de privacidade do rede social ADA</a>
    <a href="#" class="mr-5 font-foot">Sobre</a>
    <a href="#" class="mr-5 font-foot">Política de direitos autorais</a>
    <a href="#" class="font-foot">Direitos de marca</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class=" text-white bg-roxo footer text-center m-0 pt-3">ADA 2021 &copy;</p>
  </div>
</div>

<!-- Modal atualizar tema-->
<div
  class="modal fade"
  id="editTemas"
  tabindex="-1"
  role="dialog"
  aria-labelledby="TituloModalLongoExemplo"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content modalTema">
      <div class="modal-header">
        <h5 class="modal-title Montserrat" id="TituloModalLongoExemplo">
          Editar Tema
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="roboto" for="tipoTema">Escolha o tipo do tema:</label>
          <select
            class="form-control"
            name="tipoTema"
            id="tipoTema"
            [(ngModel)]="tema.descricaoTema"
          >
            <option value="Tema Livre">Tema Livre</option>
            <option value="Vaga">Vaga</option>
            <option value="Dúvida">Dúvida</option>
          </select>
          <label for="descricao" class="roboto mt-3">Descrição</label>
          <input type="text" class="form-control" id="descricao" />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn botaoPostar"
          (click)="atualizarTema()"
          data-dismiss="modal"
        >
          Atualizar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<!-- Modal deletar postagem-->
<div
  class="modal fade"
  id="deletarPostagem"
  tabindex="-1"
  role="dialog"
  aria-labelledby="TituloModalLongoExemplo"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content modalTema">
      <div class="modal-header">
        <h5 class="modal-title Montserrat" id="TituloModalLongoExemplo">
          Deletar postagem
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body mt-0 pt-0">
          <h5 class="mb-5">
            Você tem certeza que deseja excluir a seguinte postagem?
          </h5>

          <h6 class="text-left roboto font-weight-bold">Tema: {{postagem.tema.descricaoTema}}</h6>
          <div class="card-back-del">
            <p class="roboto">
             {{postagem.descricaoPostagem}}
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn"
          id="botaoCancelar"
          data-dismiss="modal"
        >
          Fechar
        </button>
        <button
          (click)='deletar(idPostagem)'
          type="button"
          id="excluirPostagem"
          class="btn"
          data-dismiss="modal"
        >
          Deletar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
